.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

h1, .category-buttons {
  text-align: center;

}

.btn {
  font-size: 14px;
  color: #ad6d2f;
  border: 1px solid #ad6d2f;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;

}

.btn:hover {
  color: white;
  background-color: #ad6d2f;
}

header {
  margin: 35px 0px;
}
/*Component*/
img {
  border: 6px solid #ad6d2f ;
  border-radius: 5px;
  width: 200px;
}

.snack-price {
  color: #ad6d2f;
  margin-left: 70px;

}

.meal-data {
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
}

.meal {
  display: flex;
}

.facts {
  width: 320px;
  margin-left: 20px;
  text-align: left;
}

.meal-details {
  line-height: 5;
  font-kerning: normal;
  font-size: 12px;
}

.meals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-gap: 40px;
  padding: 0px 150px;
}

.all-meals {
  display: flex;
  justify-content: center;
  align-items: center;
}